:root {
  /* primary */
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  /* neutral */
  --darkBlue: hsl(220, 13%, 13%);
  --darkGrayBlue: hsl(219, 9%, 45%);
  --grayBlue: hsl(220, 14%, 75%);
  --lightGrayBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1440px;
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
}

/* ---------------------- header // navbar -------------------------------- */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  position: relative;
}

.header__group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__group-1 {
  gap: 15px;
}

.header__group-2 {
  gap: 22px;
}

.burger-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.burger-icon__line {
  background-color: var(--darkGrayBlue);
  width: 18px;
  height: 3px;
}

.navbar {
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  display: hidden;
}

.navbar--hidden {
  display: none;
}

.navbar__menu {
  background-color: var(--white);
  height: 100vh;
  width: 66vw;
  padding: 35px;
}

.navbar-icon {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.navbar-icon:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.navbar__list {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 23px;
  list-style: none;
}

.navbar__link {
  text-decoration: none;
  color: var(--black);
}

.navbar__link:hover {
  text-decoration: underline;
}

.cart-icon__wrap {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.cart-icon__count {
  position: absolute;
  top: -25%;
  right: -25%;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 1rem;
  text-align: center;
  font-size: 12px;
  line-height: 100%;
  padding: 0px 4px;
}

.cart-icon__count--hidden {
  display: none;
}

.avatar__wrap {
  display: flex;
}

.avatar {
  width: 28px;
  cursor: pointer;
  border: 2px solid transparent;
}

.avatar:hover {
  outline: 2px solid var(--orange);
  border-radius: 50%;
}

.cart-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 90px;
  right: 10px;
  width: 355px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid green;
}

.cart-menu--hidden {
  display: none;
}

.cart-menu__title {
  padding: 24px;
  font-weight: 700;
  border-bottom: 1px solid #b6bcc8;
}

.cart-menu__button {
  color: white;
  background-color: var(--orange);
  text-align: center;
  border: none;
  font-weight: 700;
  margin: 0px 25px 30px 25px;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.cart-menu__button--hidden {
  display: none;
}

.cart-menu__message {
  padding: 65px 0px;
  text-align: center;
  font-weight: 700;
}

.cart-menu__message--hidden {
  display: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px;
}

.product__img {
  width: 50px;
  border-radius: 5px;
}

/* ---------------------- lightbox -------------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightbox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arrow-icon__wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
}

.arrow-icon__wrap--previous {
  left: 4%;
}

.arrow-icon__wrap--next {
  right: 4%;
}

.product-hero {
  width: 100%;
}

.thumb-gallery__container {
  display: none;
}

/* ---------------------- product info -------------------------------- */

.product {
  padding: 25px 25px 88px 25px;
}

.product__brand-name {
  color: var(--orange);
  font-size: 12px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.product__title {
  margin-bottom: 20px;
  font-size: 30px;
}

.product__description {
  color: var(--darkGrayBlue);
  margin-bottom: 25px;
  line-height: 25px;
  font-size: 15px;
}

.price__container {
  display: flex;
  flex-direction: row;
  margin-bottom: 28px;
  justify-content: space-between;
  align-items: center;
}

.price__wrap {
  display: flex;
  gap: 20px;
  align-items: center;
}

.price {
  font-size: 30px;
  font-weight: 700;
}

.price__discount {
  background-color: var(--paleOrange);
  color: var(--orange);
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

.price__previous {
  text-decoration: line-through;
  font-weight: 700;
  color: var(--darkGrayBlue);
}

.count-button__wrap {
  display: flex;
  justify-content: space-between;
  background-color: var(--lightGrayBlue);
  margin-bottom: 16px;
  padding: 24px;
  border-radius: 5px;
  width: 100%;
}

.count-icon {
  cursor: pointer;
}

.button-wrapper {
  flex-direction: column;
}

.add-cart__button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
  width: 100%;
  padding: 22px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  box-shadow: 0px 20px 30px 0px var(--paleOrange);
}

.add-cart__icon {
  filter: brightness(300%);
}

/* ---------------------- media queries -------------------------------- */

@media screen and (min-width: 1000px) {
  main {
    display: flex;
    flex-direction: row;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 90px;
    justify-content: center;
    align-items: center;
    gap: 125px;
  }

  header {
    border-bottom: 1px solid #b6bcc8;
  }

  .header__group-1 {
    gap: 50px;
  }
  .header__group-2 {
    gap: 50px;
  }

  .burger-icon {
    display: none;
  }

  .navbar {
    display: block;
    position: unset;
    height: unset;
    z-index: unset;
    background-color: unset;
  }

  .avatar {
    width: 50px;
  }

  .navbar__menu {
    width: unset;
    padding: 0;
    height: unset;
  }

  .navbar__icon {
    display: none;
  }

  .navbar__list {
    margin-top: unset;
    font-weight: unset;
    flex-direction: row;
    gap: 30px;
  }

  .navbar__link {
    display: block;
    padding: 30px 0px;
  }

  .lightbox {
    display: block;
  }

  .arrow-icon__wrap {
    display: none;
  }

  .product-hero {
    border-radius: 20px;
  }

  .thumb-gallery__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-top: 25px;
  }

  .thumb-gallery__image {
    width: 100%;
    border-radius: 10px;
  }

  .thumb-gallery__image {
    opacity: 0.75;
  }

  .thumb-gallery__image:hover {
    outline: 2px solid #ff7d1a;
    opacity: 0.75;
  }

  .product {
    padding-top: 60px;
  }

  .product__title {
    font-size: 33px;
  }

  .price__container {
    margin-bottom: 16px;
  }

  .price__wrap {
    flex-direction: column;
    align-items: unset;
  }
}

.action-button__container {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.count-button__wrap {
  margin-bottom: unset;
}
