:root {
  /* primary */
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  /* neutral */
  --darkBlue: hsl(219, 9%, 45%);
  --darkGrayBlue: hsl(219, 9%, 45%);
  --grayBlue: hsl(220, 14%, 75%);
  --lightGrayBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1440px;
  font-family: 'Kumbh Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem 2.4rem 2rem;
}

.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
}

.hamburger__line {
  background-color: var(--darkGrayBlue);
  width: 1.5rem;
  height: 0.3rem;
}

.navbar {
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  display: hidden;
}

.navbar--hidden {
  display: none;
}

.navbar__sidepanel {
  background-color: var(--white);
  height: 100vh;
  width: 66vw;
  padding: 2.3rem;
}

.navbar__btn {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.navbar__list {
  margin-top: 5rem;
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  list-style: none;
}

.header__avatar {
  width: 2.4rem;
  cursor: pointer;
  border: 2px solid transparent;
}

.header__avatar:hover {
  border: 2px solid var(--orange);
  border-radius: 50%;
}

.product__img {
  width: 375px;
}

h1 {
  color: var(--orange);
  font-size: 12px;
  margin-bottom: 10px;
}

.product__description {
  color: var(--darkGrayBlue);
  margin-bottom: 25px;
}

.price__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.count__wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--lightGrayBlue);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

.product__btn {
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
}
