:root {
  /* primary */
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  /* neutral */
  --darkBlue: hsl(219, 9%, 45%);
  --darkGrayBlue: hsl(219, 9%, 45%);
  --grayBlue: hsl(220, 14%, 75%);
  --lightGrayBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1440px;
  font-family: 'Kumbh Sans', sans-serif;
  height: 100vh;
}

/* ---------------------- header // navbar -------------------------------- */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}

.hamburger-line {
  background-color: var(--darkGrayBlue);
  width: 18px;
  height: 3px;
}

.navbar {
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  display: hidden;
}

.navbar--hidden {
  display: none;
}

.navbar-side-menu {
  background-color: var(--white);
  height: 100vh;
  width: 66vw;
  padding: 35px;
}

.navbar-btn {
  transition: transform 0.5s ease;
  cursor: pointer;
}

.navbar-btn:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

.navbar-list {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 23px;
  list-style: none;
}

.navbar-link {
  text-decoration: none;
  color: var(--black);
}

.navbar-link:hover {
  text-decoration: underline;
}

.cart-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}

.cart-count {
  position: absolute;
  top: -25%;
  right: -25%;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 1rem;
  text-align: center;
  font-size: 12px;
  line-height: 100%;
  padding: 0px 4px;
}

.avatar {
  width: 28px;
  cursor: pointer;
  border: 2px solid transparent;
}

.avatar:hover {
  border: 2px solid var(--orange);
  border-radius: 50%;
}
/* ---------------------- main content -------------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lightbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-group {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.product-info {
  padding: 25px 25px 85px 25px;
}

.product-hero {
  width: 100%;
}

.thumb-gallery-img {
  display: none;
}

h1 {
  color: var(--orange);
  font-size: 12px;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

h2 {
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 30px;
}

p {
  color: var(--darkGrayBlue);
  margin-bottom: 25px;
  line-height: 25px;
}

.price-wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
}

.price-group {
  display: flex;
  gap: 20px;
  align-items: center;
}

.price {
  font-size: 30px;
  font-weight: 700;
}

.price-discount {
  background-color: var(--paleOrange);
  color: var(--orange);
  padding: 5px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 18px;
}

.price-old {
  text-decoration: line-through;
  font-weight: 700;
  color: var(--darkGrayBlue);
}

.count-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: var(--lightGrayBlue);
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

.count-icon {
  cursor: pointer;
}

.product-btn {
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ---------------------- media queries -------------------------------- */

@media screen and (min-width: 1000px) {
  body {
    margin-left: 75px;
    margin-right: 75px;
  }

  main {
    height: 80vh;
    flex-direction: row;
    margin: 27px 84px;
    gap: 100px;
  }

  header {
    border-bottom: 1px solid #b6bcc8;
  }

  .hamburger {
    display: none;
  }

  .navbar {
    display: block;
    position: unset;
    height: unset;
    z-index: unset;
    background-color: unset;
  }

  .navbar-btn {
    display: none;
  }

  .navbar-side-menu {
    width: unset;
    padding: 0;
    height: unset;
  }

  .navbar-list {
    margin-top: unset;
    font-weight: unset;
    flex-direction: row;
  }

  .navbar-ink {
    display: block;
    padding: 30px 0px;
  }

  .header-container {
    gap: 40px;
  }

  .lightbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-img {
    border-radius: 20px;
  }
  .thumb-gallery-img {
    width: 100px;
    border-radius: 10px;
    
  }

  .price-wrapper {
    flex-direction: row;
  }
}
